<!-- Stop looking at my terrible HTML please.. I know its bad 😭 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="index">
        <meta name="theme-color" content="#2B2D31">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

        <link rel="shortcut icon" href="../static/wock.png">
        <title>wock</title>
        <meta name="description" content="empower your community with wock">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="wock.cloud">
        <meta property="og:url" content="/">
        <meta property="og:title" content="wock">
        <meta property="og:description" content="empower your community with wock">
        <meta property="og:image" content="../static/wock.png">
    </head> 
    <body>
        <div class="wrapper">
            <img src="../static/wock.png" draggable="false" class="avatar">
            <h1>wock</h1>
    
            <!-- First row of buttons  -->
            <div class="button-container">
                <a href="https://discord.gg/wock" target="_blank">
                    <div class="button">
                      <i class="fa fa-paperclip"></i>
                      <span>support</span>
                    </div>
                  </a>
                <a href="https://wock.cloud/invite" target="_blank">
                  <div class="button">
                    <i class="fa fa-key"></i>
                    <span>invite</span>
                  </div>
                </a>
            </div>          
            <!-- Second row of buttons  -->
            <div class="button-container">
                <a href="https://wock.cloud/help" target="_blank">
                  <div class="button">
                    <i class="fa fa-terminal"></i>
                    <span>cmds</span>
                  </div>
                </a>
                <a href="https://docs.wock.cloud" target="_blank">
                    <div class="button">
                      <i class="fa fa-book-open"></i>
                      <span>docs</span>
                    </div>
                  </a>     
            </div>  
        </div>
    </body>
</html>